﻿@{
    ViewBag.Title = "Index";
}


<h2>Joshua's Decryptor</h2>
<form method="post" action="Main/run_update">
    <label>Offset:</label><input type="text" name="offset"/>
    <label>Limit</label><input type="text" name="limit" />
    <input type="submit" value="Run Updates" />
</form>
